@font-face {
    font-family: Cardo;
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/Cardo-Regular.ttf")
}

@font-face {
    font-family: Cardo;
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/Cardo-Italic.ttf")
}

@font-face {
    font-family: Cardo;
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/Cardo-Bold.ttf")
}

:root {
    font-family: Cardo, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: clamp(16px, 2vw, 24px);
    --primario: #2B2626;
    --sfondo: #1C768F;
    --secondario: #FA991C;
    --scritta: #FBF3F2;
}

.app {
    display: flex;
    flex-flow: row nowrap;
}

.hide {
    display: none !important;
}

.grid-x {
    display: flex;
    flex-flow: row wrap;
}

.grid-y {
    display: flex;
    flex-flow: column wrap;
}

.grid-inline {
    display: inline-flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.cell {
    flex-basis: 100%;
}

.field {
    display: inline-flex;
    align-items: center;
}

.field > input, .field > select, .field > textarea {
    width: 100%;
}

.field > input[disabled], .field > select[disabled], .field > textarea[disabled] {
    background-color: darkgrey;
}

@media screen and (min-width: 769px) {
    .w10 {
        flex-basis: 10%;
    }

    .w25 {
        flex-basis: 25%;
    }

    .w33 {
        flex-basis: 33%;
    }

    .w40 {
        flex-basis: 40%;
    }

    .w50 {
        flex-basis: 50%;
    }

    .w75 {
        flex-basis: 75%;
    }

    .w80 {
        flex-basis: 80%;
    }

    .w100 {
        flex-basis: 100%;
    }
}